<!doctype html>
<html ng-app="dreamproject20">
  <head>
    <meta charset="utf-8">
    <title>dreamproject20</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->
		<link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="MainController">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- preloader  -->
        <div class="preloader-container">
        	<div class="content-container">
                <span class="pulse-loader"></span>

                <h6 class="preloader-text">LOADING</h6>
            </div>
        </div>
       

    	<!-- logo -->
        <img class="img-logo" alt="logo" src="" />
        <!-- end logo -->

    	<!-- menu (visible on large devices) -->
        <nav class="large-device">
        	<ul>
            	<li>
                	<a class="menu-link active" data-section="home"  data-section-pos="0" href="#">
                    	<div class="icon-container"><span class="icon icon-home"></span></div>
                        <div class="text">Home</div>
                    </a>
                </li>
                <li>
                	<a class="menu-link" data-section="about" data-section-pos="100" href="#">
                    	<div class="icon-container"><span class="icon icon-book-open"></span></div>
                        <div class="text">About</div>
                    </a>
                </li>
                <li>
                	<a class="menu-link" data-section="works"  data-section-pos="200" href="#">
                    	<div class="icon-container"><span class="icon icon-vector"></span></div>
                        <div class="text">App</div>
                    </a>
                </li>
               
                <li>
                	<a class="menu-link" data-section="contact" data-section-pos="300"  href="#contact">
                    	<div class="icon-container"><span class="icon icon-earphones-alt"></span></div>
                        <div class="text">Contact</div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- end menu (visible on large devices) -->

        <!-- menu (visible on small devices) -->
        <nav class="small-device">
        	<!-- show / hide menu button -->
            <a href="#" class="menu-button-phone">
            	<i class="icon fa fa-bars"></i>
            </a>
            <!-- end show / hide menu button -->

            <!-- nav title -->
            <span class="nav-title">home</span>
            <!-- end nav title -->

            <ul>
            	<li>
                	<a class="menu-link active" data-section="home" data-nav-title="home" data-section-pos="0" href="#">
                    	<span class="icon-container"><i class="icon icon-home"></i></span>
                        <span class="text">home</span>
                    </a>
                </li>
                <li>
                	<a class="menu-link" data-section="about" data-nav-title="about" data-section-pos="100" href="#">
                    	<span class="icon-container"><i class="icon icon-book-open"></i></span>
                        <span class="text">about</span>
                    </a>
                </li>
                <li>
                	<a class="menu-link" data-section="works" data-nav-title="works" data-section-pos="200" href="#">
                    	<span class="icon-container"><i class="icon icon-vector"></i></span>
                        <span class="text">works</span>
                    </a>
                </li>
                <li>
                	<a class="menu-link" data-section="contact" data-nav-title="contact" data-section-pos="300" href="#">
                    	<span class="icon-container"><i class="icon icon-earphones-alt"></i></span>
                        <span class="text">contact</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- end menu (visible on small devices) -->

        <!-- data panel popup -->      
      <div ng-include="'app/dataPanel.html'"></div>
      <div ng-include="'app/loginPanel.html'"></div>
        <!-- data panel popup -->

      
              
                
  <!-- page container -->
        <div class="page-container">
        	<!-- section container -->
            <div class="section-container">
            	
<!-- home section -->
            	<section class="home-section">
        	    	<!-- section background -->
        	    	<div class="bg-container"></div>
                	<!-- end section background -->

                	<!-- half overlay -->
                	<div class="half-overlay left"></div>
                	<!-- end half overlay -->

                	<!-- content -->
                	<div class="content col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-rlt no-pad centering-y">
            	    	<!-- left side -->
            	    	<div class="left-side col-md-8 col-sm-12">
                	    	<!-- headline -->
                	    	<h1>Dream Project</h1>

                	    	<div class="sub-title" id="wordsrotator">
                		    	<h4>Lorem ipsum dolor</h4>
                	    	</div>
                	    	<!-- end headline -->

                	    	<!-- short description -->
                	    	<p class="desc">
                		    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis aolor sit amet od tincidunt ut laoreet dolore magna aliquam erat volutpat.
                	    	</p>
                	    	<!-- end short description -->
                    	</div>
                    	<!-- end left side -->

                    	<!-- right side -->
                    	<div class="right-side col-md-4 col-md-offset-8 col-sm-12">
                	    	<!-- top text -->
                        	<div class="text-container">Project has been running for</div>
                        	<!-- end top text -->

                        	<!-- countdown container -->
                        	<div id="countdown" class="countdown-container">
                    	    	<!-- days left -->
                            	<div class="dash days_dash">
                			    	<div class="counter">
                    			    	<div class="digit">0</div><div class="digit">0</div><div class="digit">0</div>
                    			    	<div class="dash_title">days<br /></div>
							    	</div>
                		    	</div>
                            	<!-- end days left -->
                        	</div>
                        	<!-- end countdown container -->

                        	
                    	</div>
                    	<!-- end right side -->
                	</div>
                	<!-- end content -->
            	</section>
            	<!-- end home section -->
 	
                <!-- about section -->
            	<section class="about-section">
        	    	<!-- section background -->
        	    	<div class="bg-container-static"></div>
                	<!-- end section background -->

                	<!-- half overlay -->
                	<div class="half-overlay right"></div>
                	<!-- end half overlay -->

                	<!-- content -->
                	<div class="content col-md-10 col-md-offset-1 col-sm-12 col-sm-rlt col-xs-12 no-pad centering-y">
            	    	<!-- left side -->
                    	<div class="left-side col-md-8 col-sm-12">
                	    	<!-- company description -->
                        	<div class="desc">
                    	    	<!-- quote -->
                            	<p class="quote separator-line">
                        	    	WE CREATE AWESOME PRODUCTS & WE REALLY LOVE WHAT WE DO.
                            	</p>
                            	<!-- end quote -->

                            	<p class="mrg-top-sm">
                        	    	Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt.
                            	</p>

                            	<p class="mrg-top-sm">
                        	    	Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                            	</p>
                        	</div>
                        	<!-- end company description -->
                    	</div>
                    	<!-- end left side -->

                    	<!-- right side -->
                    	<div class="services-container col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                	    	<div class="carousel-col-1">
                    	    	<!-- service 1 -->
                    	    	<div class="service">
                    		    	<!-- icon container -->
                        	    	<div class="icon-container">
                        		    	<i class="icon icon-pencil"></i>
                        	    	</div>
                        	    	<!-- end icon container -->

                        	    	<!-- text container -->
                        	    	<div class="text-container">
                        		    	<h6>WEB DESIGN</h6>
                        	        	<p class="mrg-top-xs">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum nteposuerit.</p>
                        	    	</div>
                        	    	<!-- end text container -->
                    	    	</div>
                    	    	<!-- end service 1 -->

                            	<!-- service 2 -->
                    	    	<div class="service">
                    		    	<!-- icon container -->
                        	    	<div class="icon-container">
                        		    	<i class="icon icon-ghost"></i>
                        	    	</div>
                        	    	<!-- end icon container -->

                        	    	<!-- text container -->
                        	    	<div class="text-container">
                        		    	<h6>GRAPHIC DESIGN</h6>
                        	        	<p class="mrg-top-xs">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip ex ea commodo .</p>
                        	    	</div>
                        	    	<!-- end text container -->
                    	    	</div>
                    	    	<!-- end service 2 -->

                            	<!-- service 3 -->
                    	    	<div class="service">
                    		    	<!-- icon container -->
                        	    	<div class="icon-container">
                        		    	<i class="icon icon-graph"></i>
                        	    	</div>
                        	    	<!-- end icon container -->

                        	    	<!-- text container -->
                        	    	<div class="text-container">
                        		    	<h6>MARKETING</h6>
                        	        	<p class="mrg-top-xs">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
                        	    	</div>
                        	    	<!-- end text container -->
                    	    	</div>
                    	    	<!-- end service 3 -->
                        	</div>
                    	</div>
                    	<!-- end right side -->
                	</div>
                	<!-- end content -->
            	</section>
            	<!-- end about section -->
                
                
                  <!-- works section -->
              <section class="works-section">
                <!-- section background -->
                <div class="bg-container-static"></div>
                  <!-- end section background -->

                  <!-- half overlay -->
                  <!-- end half overlay -->
                  
                                  

                  <!-- content -->
                  <div class="works-container col-md-10 col-md-offset-1 col-sm-12">
                               <h5>Football Races</h5>         
                      <!--<div class="contact-form-container col-md-12 col-sm-12 col-xs-12" >
                	    	

					    	<form class="contact-form ng-pristine ng-valid" action="http://premiumtemplatewebsite.com/template/avec/php/contact.php" method="post" enctype="multipart/form-data">
						    	
                               
						    	<div class="col-md-12 col-sm-12 no-pad">
							    	<div class="input-container">
								    	<input type="text" id="name" name="name">
								    	<label for="name">Search Your Team Here</label>

								    	<div class="input-border-bottom"></div>
							    	</div>
						    	</div>
						    	

						    	

						    	
					    	</form>
                    	</div>-->
                      
                    <!-- work 1 -->
                      <table style="margin-top:50px">
                          
                      <tr class="underline" ng-repeat="race in list">
                          <td><h6><a class="racename" ng-click="getit(race)">{{race[5]}} - {{race[8]}}</a></h6>  <p><span>{{league[race[1]][2]}}</span> <span>{{race[10]}}</span></p></td>
                                
                    </tr>
                      
                      </table>
                     
                      <!-- end work 1 -->
                  </div>
                  <!-- end content -->
              </section>
              <!-- end works section -->

                <!-- contact section -->
            	<section class="contact-section">
        	    	<!-- section background -->
        	    	<div class="bg-container-static"></div>
                	<!-- end section background -->

                	<!-- half overlay -->
                	<div class="half-overlay right"></div>
                	<!-- end half overlay -->

                	<!-- content -->
                	<div class="content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-pad centering-y col-sm-rlt">
            	    	<!-- details -->
                    	<div class="col-md-4 col-sm-12">
                	    	<!-- office -->
                        	<div class="details">
                    	    	<h5>Account Info</h5>
                                <h6>acc:333333333</h6>
                                <p></p>

                        	</div>
                            
                        	<!-- end office -->

                        	<!-- phone -->
                        	<div class="details">
                    	    	<h5>Phone</h5>
                            	<p>+123 4567 890<br />+123 4567 891</p>
                        	</div>
                        	<!-- end phone -->

                        	<!-- email -->
                        	<div class="details">
                    	    	<h5>Email</h5>
                            	<p>support@avec.com<br />info@avec.com</p>
                        	</div>
                        	<!-- end email -->

                        	<!-- social media -->
                        	<div class="details">
                    	    	<h5>stay connected</h5>

                            	<!-- social media container -->
                            	<div class="social-media-container">
            				    	<a class="social-media" href="#"><i class="fa fa-facebook"></i></a>
                        	    	<a class="social-media" href="#"><i class="fa fa-twitter"></i></a>
                        	    	<a class="social-media" href="#"><i class="fa fa-behance"></i></a>
                            	</div>
                            	<!-- end social media container -->
                        	</div>
                        	<!-- end social media -->
                    	</div>
                    	<!-- end details -->

                    	<!-- contact form container -->
                    	<div class="contact-form-container col-md-8 col-sm-12 col-xs-12">
                	    	<h5>DROP US A LINE</h5>

					    	<form class="contact-form" action="http://premiumtemplatewebsite.com/template/avec/php/contact.php" method="post" enctype="multipart/form-data">
						    	<!-- left side -->
						    	<div class="col-md-6 col-sm-12 no-pad">
							    	<div class="input-container">
								    	<input type="text" id="name" name="name" />
								    	<label for="name">name</label>

								    	<div class="input-border-bottom"></div>
							    	</div>
						    	</div>
						    	<!-- end left side -->

						    	<!-- right side -->
						    	<div class="col-md-6 col-sm-12 no-pad">
							    	<div class="input-container">
								    	<input type="email" id="email" name="email" />
								    	<label for="email">email</label>

								    	<div class="input-border-bottom"></div>
							    	</div>
						    	</div>
						    	<!-- end right side -->

						    	<!-- full width -->
						    	<div class="col-xs-12 text-center no-pad">
							    	<div class="input-container no-mrg">
								    	<textarea id="message" name="message"></textarea>
								    	<label for="message">message</label>

								    	<div class="input-border-bottom"></div>
							    	</div>

							    	<!-- notification container -->
							    	<div class="col-xs-12 notif-container no-pad">
								    	<div class="form-notif"></div>
							    	</div>
							    	<!-- end notification container -->

							    	<!-- button container -->
							    	<div class="col-xs-12 no-pad text-left mrg-top-xs">
								    	<button type="submit" class="button button-green button-small">send</button>
							    	</div>
							    	<!-- end button container -->
						    	</div>
						    	<!-- end full width -->
					    	</form>
                    	</div>
                    	<!-- end contact form container -->
                	</div>
                	<!-- end content -->
            	</section>
            	<!-- end contact section -->
                
            </div>
            <!-- end section container -->
        </div>
        <!-- end page container -->

 



           

        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

            <!-- Background of PhotoSwipe.
                 It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>

            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">

                <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar darkgrey">

                        <!--  Controls are self-explanatory. Order can be changed. -->

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <!-- Preloader -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous">
                    	<i class="icon fa fa-hand-o-left"></i>
                    </button>

                    <button class="pswp__button pswp__button--arrow--right" title="Next">
                    	<i class="icon fa fa-hand-o-right"></i>
                    </button>

                    <div class="pswp__caption darkgrey">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
		<!-- end photo swipe element -->

        <!-- javascript import -->
        <!-- jquery -->

      
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->
    
      
    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->
<!--<span id="data_script"></span> -->
         <script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
      <script src="http://requirejs.org/docs/release/2.1.22/minified/require.js"></script>
         


  </body>
</html>
